<!DOCTYPE html>
<html>
<head>
  <title>Cierre de Sesión</title>
</head>
<body>
  <div>
    <h1>Cierre de Sesión Exitoso</h1>
    <p>Has cerrado sesión con éxito en tu cuenta.</p>
    <p>Gracias por usar nuestra aplicación.</p>
  </div>
</body>
</html>
